In [ ]:
# Split this string
s = "Hi there Sam!"

#Into a list
name = s.split() # the split fucntion converts the string into a list
print(name)

['Hi', 'there', 'Sam!']

In [ ]:
# Given the variables:

planet = "Earth"
diameter = 12742

# Use .format() to print the following string:

print('The diameter of {} is {} kilometers.'.format(planet,diameter))

# The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

In [ ]:
# What is 6 to the power of 9
a = 6**9
print(a)

10077696

In [ ]:
# Create a list of 5 different names
a = ['zebra','fox','lion','goat','camel']
# Remove the 3rd name on the list
del a[3]
print(a)

['zebra', 'fox', 'lion', 'camel']

In [ ]:
# Add 2 new names to your list
a = ['zebra','fox','lion','goat','camel']
a.extend(['cheetah','dinosaur'])
# Sort your list of names alphabetacly
a.sort()
print(a)

['camel', 'cheetah', 'dinosaur', 'fox', 'goat', 'lion', 'zebra']

In [ ]:
# Create a function that grabs the email website domain from a string in the form

#umbcstudent@umbc.edu

# So for example, passing "user@domain.com" would return: domain.com
def sub(a):
    result = "" # empty string to store another value
    for i in a:
        if i == "@": # if @ is present coming out of loop to generate the domains
            break
        else:
            result = result + i # adding every character and storing it in another string
    return result

email = "umbcstudent@umbc.edu" # input string
a = reversed(email) # reversing the email to start from the last
result = sub(a)[::-1] # if we dont do reverse we will get the output in reverse
print(result)

umbc.edu

In [ ]:
# Create a data frame with random numbers (1-20) with 4 columns and 4 rows
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(1,20,size=(4, 4)),columns=list('ABCD'))
print(df)

    A   B   C  D
0   2   6  19  1
1  11   6   1  6
2   3  19   5  5
3  16  10  16  2

In [ ]:
# Add an additional column and add two values called Test 1 and Test 2
df['E'] = ['Test 1', 'Test 2','NaN','NaN']
print(df)

    A   B   C  D       E
0   2   6  19  1  Test 1
1  11   6   1  6  Test 2
2   3  19   5  5     NaN
3  16  10  16  2     NaN

In [ ]:
# Create an index using the last column you created
df.set_index('E', inplace=True)
print(df)

         A   B   C  D
E
Test 1   2   6  19  1
Test 2  11   6   1  6
NaN      3  19   5  5
NaN     16  10  16  2

In [ ]:
# Create an input that provides the basic statistics of your dataframe.
df.describe()

               A          B          C         D
count   4.000000   4.000000   4.000000  4.000000
mean    8.000000  10.250000  10.250000  3.500000
std     6.683313   6.130525   8.616844  2.380476
min     2.000000   6.000000   1.000000  1.000000
25%     2.750000   6.000000   4.000000  1.750000
50%     7.000000   8.000000  10.500000  3.500000
75%    12.250000  12.250000  16.750000  5.250000
max    16.000000  19.000000  19.000000  6.000000

# Extra Credit

Using the list of names above, write a program to print a welcome statement
to the new students in a class that can be reused each year. The sentenance should say

Welcome (Student Name) to Introduction to Data Science 601 (Semester) (Year) semester.

Assume that the teacher will create a new list each year but wants the semester and year to be an input.